In [1]:
import pandas as pd

prices = pd.DataFrame({
    "price_usd": ["$0.53", "$0.22", "0.34"]
})

prices

  price_usd
0     $0.53
1     $0.22
2      0.34

In [2]:
prices.dtypes

price_usd    object
dtype: object

In [3]:
prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].str.replace("$", "")
prices
prices.dtypes

C:\Users\vglup\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

price_usd    object
dtype: object

In [4]:
prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].astype("float")
prices.dtypes

price_usd    float64
dtype: object

In [5]:
prices

   price_usd
0       0.53
1       0.22
2       0.34