In [5]:
# Import the required libraries and dependencies
# Import the required libraries and dependencies
import pandas as pd
import hvplot.pandas
import numpy as np
from path import Path

In [8]:
df = pd.read_csv(
    Path("start-up_success.csv"))

# Review the DataFrame
df.head()

   Financial Performance  Industry Health  Firm Category
0              -2.761650        -2.414516              0
1               2.867162         1.989524              1
2              -0.701230        -1.074845              0
3              -3.516214        -1.928217              0
4              -0.981901        -2.798853              0

In [9]:
# Count how many firms are in each category
df['Firm Category'].value_counts()

0    978
1    346
Name: Firm Category, dtype: int64

In [10]:
# Import module
from sklearn.model_selection import train_test_split

# Split training and testing sets
# Create X, or features DataFrame
features = df[['Financial Performance', 'Industry Health']]

# Create y, or target DataFrame
target = df['Firm Category']

# Use train_test_split to separate the data
training_features, testing_features, training_targets, testing_targets = train_test_split(features, target)

In [11]:
training_features

      Financial Performance  Industry Health
70                -1.986072        -2.897615
357               -2.449844        -0.436098
920               -4.031964        -2.711969
349               -1.352925        -0.568196
347                1.978212         1.163889
...                     ...              ...
17                -2.028792        -1.170369
914               -3.519050        -2.893689
1260              -2.488371        -2.844938
435                2.463270         2.675615
115               -2.008421        -2.310593

[993 rows x 2 columns]

In [12]:
# Import LogisticRegression from sklearn
from sklearn.linear_model import LogisticRegression

In [13]:
logistic_regression_model = LogisticRegression()

In [14]:
# Fit the model
logistic_regression_model.fit(training_features, training_targets)

LogisticRegression()

In [15]:
# Generate predictions from the model we just fit
predictions = logistic_regression_model.predict(training_features)

# Convert those predictions (and actual values) to a DataFrame
results_df = pd.DataFrame({"Prediction": predictions, "Actual": training_targets})
results_df

      Prediction  Actual
70             0       0
357            0       0
920            0       0
349            0       0
347            1       1
...          ...     ...
17             0       0
914            0       0
1260           0       0
435            1       1
115            0       0

[993 rows x 2 columns]

In [16]:
# Apply the fitted model to the test dataset
testing_predictions = logistic_regression_model.predict(testing_features)

# Save both the test predictions and actual test values to a DataFrame
results_df = pd.DataFrame({
    "Testing Data Predictions": testing_predictions,
    "Testing Data Actual Targets": testing_targets})
results_df

      Testing Data Predictions  Testing Data Actual Targets
43                           0                            0
1096                         0                            0
127                          1                            1
1243                         0                            0
861                          0                            0
...                        ...                          ...
425                          1                            1
190                          0                            0
929                          0                            0
655                          0                            0
815                          1                            1

[331 rows x 2 columns]

In [17]:
# Import the accuracy_score function
from sklearn.metrics import accuracy_score

# Calculate the model's accuracy on the test dataset
accuracy_score(testing_targets, testing_predictions)

1.0