In [3]:
import pandas as pd
from pathlib import Path

In [4]:
csvpath = Path("sales.csv")
sales_dataframe = pd.read_csv(csvpath)

In [5]:
sales_dataframe.head()

          FullName                   Email    Zip  SalePrice
0    Elwanda White      alyre2036@live.com   9236      84.33
1   Lyndon Elliott  arrowy1873@outlook.com   1330     879.95
2   Daisey Sellers  toucan2024@outlook.com   7631     907.58
3     Issac Reeves    asarin1958@gmail.com  81168     545.88
4  Bradford Kinney  mibound1801@yandex.com  41721     517.49