In [1]:
# Import the Pandas library
# YOUR CODE HERE
import pandas as pd

# Import the Path module from the pathlib library
# YOUR CODE HERE
from pathlib import Path

In [2]:
csvpath = Path("sales.csv")

In [3]:
sales_df = pd.read_csv(csvpath)
#sales_df = pd.read_csv(csvpath, index_col="Date", parse_dates=True, infer_datetime_format=True)

In [4]:
sales_df.set_index("Date")
sales_df.head()

        Date Net Sales (mill) Net Income (mill)     EPS
0  9/30/2017          229,234            48,351   $9.27
1  9/29/2018          265,595            59,531  $12.01
2  9/28/2019          260,174            55,256  $11.97