In [4]:
# Import the required libraries and dependencies
import pandas as pd
from pathlib import Path
import hvplot.pandas
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [5]:
csvpath = Path("shopping_data.csv")
df_shopping = pd.read_csv(csvpath)

In [6]:
df_shopping.head()

   CustomerID Card Type  Age  Annual Income  Spending Score
0           1    Credit   19          15000              39
1           2    Credit   21          15000              81
2           3     Debit   20          16000               6
3           4     Debit   23          16000              77
4           5     Debit   31          17000              40

In [8]:
# Scaling the numeric columns
shopping_data_scaled = StandardScaler().fit_transform(df_shopping[["Age", "Annual Income", "Spending Score"]])

# Creating a DataFrame with with the scaled data
df_shopping_transformed = pd.DataFrame(shopping_data_scaled, columns=["Age", "Annual Income", "Spending Score"])

# Display sample data
df_shopping_transformed.head()

        Age  Annual Income  Spending Score
0 -1.424569      -1.738999       -0.434801
1 -1.281035      -1.738999        1.195704
2 -1.352802      -1.700830       -1.715913
3 -1.137502      -1.700830        1.040418
4 -0.563369      -1.662660       -0.395980

In [9]:
# Transform the Card Type column using get_dummies()
card_dummies = pd.get_dummies(df_shopping["Card Type"])

# Display sample data
card_dummies.head()

   Credit  Debit
0       1      0
1       1      0
2       0      1
3       0      1
4       0      1

In [10]:
# Concatenate the df_shopping_transformed and the card_dummies DataFrames
df_shopping_transformed = pd.concat([df_shopping_transformed, card_dummies], axis=1)

# Display sample data
df_shopping_transformed.head()

        Age  Annual Income  Spending Score  Credit  Debit
0 -1.424569      -1.738999       -0.434801       1      0
1 -1.281035      -1.738999        1.195704       1      0
2 -1.352802      -1.700830       -1.715913       0      1
3 -1.137502      -1.700830        1.040418       0      1
4 -0.563369      -1.662660       -0.395980       0      1