In [1]:
# Import the Pandas library
# YOUR CODE HERE
import pandas as pd

import numpy as np

# Import the Path module from the pathlib library
# YOUR CODE HERE
from pathlib import Path

In [2]:
boolean_filter = [True, True, False, False, True]

In [3]:
aapl_returns = pd.DataFrame({'AAPL': np.random.randn(5)})

In [4]:
aapl_returns

       AAPL
0 -0.050046
1 -0.582463
2 -0.479213
3 -0.909813
4 -1.415626

In [5]:
aapl_returns.loc[boolean_filter]

       AAPL
0 -0.050046
1 -0.582463
4 -1.415626

In [6]:
daily_returns = pd.DataFrame({
    'AAPL': np.random.randn(5),
    'GOOG': np.random.randn(5),
    'MSFT': np.random.randn(5),
})
daily_returns

       AAPL      GOOG      MSFT
0 -0.591968  0.038884  0.620207
1  0.282902  0.367746 -1.556965
2  0.406224  0.401684 -0.301243
3  0.589692 -0.724948  0.193793
4  0.361132  0.576169  1.638772

In [7]:
boolean_filter = [True, True, False]
daily_returns.loc[:, boolean_filter]

       AAPL      GOOG
0 -0.591968  0.038884
1  0.282902  0.367746
2  0.406224  0.401684
3  0.589692 -0.724948
4  0.361132  0.576169

In [8]:
aapl_returns = pd.DataFrame({'AAPL': np.random.randn(10) + 1})
aapl_returns

       AAPL
0  2.508779
1  1.324870
2  1.302428
3 -0.185469
4 -0.432134
5  1.801153
6  0.573697
7 -0.732792
8 -0.669415
9  1.279633

In [9]:
aapl_returns["AAPL"] > 0

0     True
1     True
2     True
3    False
4    False
5     True
6     True
7    False
8    False
9     True
Name: AAPL, dtype: bool

In [10]:
boolean_filter = aapl_returns["AAPL"] > 0

In [11]:
aapl_returns.loc[boolean_filter]

       AAPL
0  2.508779
1  1.324870
2  1.302428
5  1.801153
6  0.573697
9  1.279633

In [12]:
filter_low = aapl_returns["AAPL"] > 0
filter_high = aapl_returns["AAPL"] <= 2
aapl_returns.loc[filter_low & filter_high]

       AAPL
1  1.324870
2  1.302428
5  1.801153
6  0.573697
9  1.279633