In [1]:
# Import the Pandas library
# YOUR CODE HERE
import pandas as pd

# Import the Path module from the pathlib library
# YOUR CODE HERE
from pathlib import Path

In [2]:
csvfile = Path("returns.csv")
money_flows_df = pd.read_csv(csvfile)

In [4]:
money_flows_df.describe()

        Stock A   Stock B   Stock C
count  5.000000  5.000000  5.000000
mean   0.758384  0.264136  1.067212
std    2.291602  0.652999  0.623036
min   -2.666572 -0.595625  0.416361
25%   -0.314594 -0.028768  0.534615
50%    1.542626  0.108129  0.962098
75%    2.061447  0.917560  1.665737
max    3.169014  0.919384  1.757246

The Pandas describe function always outputs the same list of summary statistics:

count: The number of elements in the column.
mean: The average value of the column.
std: The standard deviation of the values in the column—that is, how spread out the values are (which indicates the distribution).
min: The minimum value in the column.
25%, 50%, 75%: The values that occupy each respective percentile (which also indicate the distribution). Note that the value that occupies the 50% percentile isn’t the same as the mean, although it’s close.
max: The maximum value in the column.

By default, the describe function generates summary statistics for those columns that contain only numeric content. To generate summary statistics for columns that contain mixed data types, include the include='all' parameter—for example, df.describe(include='all').

In [5]:
goog_df = pd.DataFrame({"AAPL": [1045.85, 1070.08, 1140.99, 1113.65, 1193.32, 1231.54, 1215.00, 1207.15,1248.84, 1166.27, 1138.85, 1003.63, 1080.91]})

goog_df

       AAPL
0   1045.85
1   1070.08
2   1140.99
3   1113.65
4   1193.32
5   1231.54
6   1215.00
7   1207.15
8   1248.84
9   1166.27
10  1138.85
11  1003.63
12  1080.91

In [6]:
goog_df.mean()

AAPL    1142.775385
dtype: float64

In [7]:
goog_df.max()

AAPL    1248.84
dtype: float64

In [8]:
goog_df.std()

AAPL    76.556568
dtype: float64

In [11]:
goog_df.count()

AAPL    13
dtype: int64

In [12]:
goog_df.min()

AAPL    1003.63
dtype: float64

In [19]:
goog_df.describe()

              AAPL
count    13.000000
mean   1142.775385
std      76.556568
min    1003.630000
25%    1080.910000
50%    1140.990000
75%    1207.150000
max    1248.840000