In [1]:
import pandas as pd
import numpy as np
daily_returns = pd.DataFrame({
    "AAPL": [0.5, np.nan, 0.62],
    "GOOG": [0.45, 0.63, 0.55]
})

In [2]:
daily_returns

   AAPL  GOOG
0  0.50  0.45
1   NaN  0.63
2  0.62  0.55

In [3]:
daily_returns.dropna()

   AAPL  GOOG
0  0.50  0.45
2  0.62  0.55

In [4]:
#daily_returns = daily_returns.fillna("EMPTY")

In [5]:
daily_returns

   AAPL  GOOG
0  0.50  0.45
1   NaN  0.63
2  0.62  0.55

In [6]:
daily_returns.loc[:, "AAPL"] = daily_returns.loc[:, "AAPL"].fillna(0)

In [7]:
daily_returns

   AAPL  GOOG
0  0.50  0.45
1  0.00  0.63
2  0.62  0.55