In [1]:
import pandas as pd
import sqlalchemy

In [2]:
# Create a temporary sqlite database
database_connection_string = 'sqlite:///'

# Create the database engine
engine = sqlalchemy.create_engine(
    database_connection_string,
    echo=True
)

In [4]:
stocks_dataframe = pd.DataFrame({'AAPL': [1, 2], 'GOOG': [3, 4]})
stocks_dataframe

   AAPL  GOOG
0     1     3
1     2     4

In [5]:
stocks_dataframe.to_sql('stocks', engine, index=False, if_exists='replace')

2022-01-29 14:16:29,761 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stocks")
2022-01-29 14:16:29,763 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:16:29,764 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("stocks")
2022-01-29 14:16:29,764 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:16:29,765 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-29 14:16:29,766 INFO sqlalchemy.engine.Engine
CREATE TABLE stocks (
	"AAPL" BIGINT,
	"GOOG" BIGINT
)


2022-01-29 14:16:29,766 INFO sqlalchemy.engine.Engine [no key 0.00055s] ()
2022-01-29 14:16:29,767 INFO sqlalchemy.engine.Engine COMMIT
2022-01-29 14:16:29,768 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-29 14:16:29,769 INFO sqlalchemy.engine.Engine INSERT INTO stocks ("AAPL", "GOOG") VALUES (?, ?)
2022-01-29 14:16:29,770 INFO sqlalchemy.engine.Engine [generated in 0.00070s] ((1, 3), (2, 4))
2022-01-29 14:16:29,772 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
create_table = """
CREATE TABLE stocks (
    "AAPL" BIGINT,
    "GOOG" BIGINT
)
"""
create_table

'\nCREATE TABLE stocks (\n    "AAPL" BIGINT,\n    "GOOG" BIGINT\n)\n'

In [8]:
create_table = """
CREATE TABLE delicious_stocks (
    "EAT" BIGINT,
    "CAKE" BIGINT
)
"""

In [9]:
engine.execute(create_table)

2022-01-29 14:22:47,324 INFO sqlalchemy.engine.Engine
CREATE TABLE delicious_stocks (
    "EAT" BIGINT,
    "CAKE" BIGINT
)

2022-01-29 14:22:47,326 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:22:47,328 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
engine.table_names()

2022-01-29 14:23:38,894 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-29 14:23:38,894 INFO sqlalchemy.engine.Engine [raw sql] ()

C:\Users\vglup\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['delicious_stocks', 'stocks']

In [11]:
pd.read_sql_table('delicious_stocks', con=engine)

2022-01-29 14:24:04,452 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-29 14:24:04,454 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:24:04,456 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name
2022-01-29 14:24:04,457 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:24:04,459 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("delicious_stocks")
2022-01-29 14:24:04,460 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:24:04,463 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-29 14:24:04,464 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-01-29 14:24:04,467 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("delicious_stocks")
2022-01-29 14:24:04,467 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:24:04,469 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("delicious_stocks")
2022-01-29 14:24:04,469 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:24:04,470 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-29 14:24:04,471 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-01-29 14:24:04,474 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2022-01-29 14:24:04,475 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:24:04,476 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2022-01-29 14:24:04,476 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:24:04,477 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2022-01-29 14:24:04,478 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:24:04,479 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2022-01-29 14:24:04,480 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:24:04,481 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-29 14:24:04,481 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-01-29 14:24:04,486 INFO sqlalchemy.engine.Engine SELECT delicious_stocks."EAT", delicious_stocks."CAKE"
FROM delicious_stocks
2022-01-29 14:24:04,487 INFO sqlalchemy.engine.Engine [generated in 0.00076s] ()

Empty DataFrame
Columns: [EAT, CAKE]
Index: []

In [12]:
insert_data = """
INSERT INTO delicious_stocks ("EAT", "CAKE") VALUES (?, ?)
"""

In [13]:
engine.execute(insert_data, ((10, 30), (20, 40)))

2022-01-29 14:25:08,494 INFO sqlalchemy.engine.Engine
INSERT INTO delicious_stocks ("EAT", "CAKE") VALUES (?, ?)

2022-01-29 14:25:08,495 INFO sqlalchemy.engine.Engine [raw sql] ((10, 30), (20, 40))
2022-01-29 14:25:08,495 INFO sqlalchemy.engine.Engine COMMIT

In [14]:
pd.read_sql_table('delicious_stocks', con=engine)

2022-01-29 14:25:39,467 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-29 14:25:39,468 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:25:39,469 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name
2022-01-29 14:25:39,469 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:25:39,470 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("delicious_stocks")
2022-01-29 14:25:39,471 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:25:39,473 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-29 14:25:39,473 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-01-29 14:25:39,474 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("delicious_stocks")
2022-01-29 14:25:39,475 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:25:39,475 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("delicious_stocks")
2022-01-29 14:25:39,476 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:25:39,477 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-29 14:25:39,477 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-01-29 14:25:39,478 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2022-01-29 14:25:39,479 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:25:39,480 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2022-01-29 14:25:39,480 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:25:39,481 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2022-01-29 14:25:39,481 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:25:39,482 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2022-01-29 14:25:39,483 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:25:39,483 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-29 14:25:39,484 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-01-29 14:25:39,485 INFO sqlalchemy.engine.Engine SELECT delicious_stocks."EAT", delicious_stocks."CAKE"
FROM delicious_stocks
2022-01-29 14:25:39,486 INFO sqlalchemy.engine.Engine [generated in 0.00070s] ()

   EAT  CAKE
0   10    30
1   20    40