In [1]:
import pandas as pd
import sqlalchemy

In [8]:
database_connection_string = 'sqlite:///'
# sqlite:///mydatabase.db

In [12]:
engine = sqlalchemy.create_engine(database_connection_string)
engine

Engine(sqlite:///)

In [4]:
engine.table_names()

C:\Users\vglup\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

[]

In [5]:
stocks_dataframe = pd.DataFrame({'AAPL': [1, 2], 'GOOG': [3, 4]})
stocks_dataframe

   AAPL  GOOG
0     1     3
1     2     4

In [6]:
stocks_dataframe.to_sql('stocks', engine)

In [7]:
engine.table_names()

C:\Users\vglup\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['stocks']

In [9]:
sql_stocks_df = pd.read_sql_table('stocks', con=engine)
sql_stocks_df

   index  AAPL  GOOG
0      0     1     3
1      1     2     4

In [11]:
stocks_dataframe.to_sql('stocks', engine, index=False, if_exists='replace')
sql_stocks_df = pd.read_sql_table('stocks', con=engine)
sql_stocks_df

   AAPL  GOOG
0     1     3
1     2     4