In [1]:
import pandas as pd
import sqlalchemy

In [2]:
# Create a temporary sqlite database
database_connection_string = 'sqlite:///'

# Create the database engine
engine = sqlalchemy.create_engine(
    database_connection_string,
    echo=True
)

In [3]:
stocks_dataframe = pd.DataFrame({'AAPL': [1, 2], 'GOOG': [3, 4]})
stocks_dataframe

   AAPL  GOOG
0     1     3
1     2     4

In [4]:
stocks_dataframe.to_sql('stocks', engine, index=False, if_exists='replace')

2022-01-29 14:29:29,993 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stocks")
2022-01-29 14:29:29,995 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:29:29,996 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("stocks")
2022-01-29 14:29:29,997 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:29:29,999 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-29 14:29:29,999 INFO sqlalchemy.engine.Engine
CREATE TABLE stocks (
	"AAPL" BIGINT,
	"GOOG" BIGINT
)


2022-01-29 14:29:30,000 INFO sqlalchemy.engine.Engine [no key 0.00072s] ()
2022-01-29 14:29:30,002 INFO sqlalchemy.engine.Engine COMMIT
2022-01-29 14:29:30,003 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-29 14:29:30,004 INFO sqlalchemy.engine.Engine INSERT INTO stocks ("AAPL", "GOOG") VALUES (?, ?)
2022-01-29 14:29:30,004 INFO sqlalchemy.engine.Engine [generated in 0.00058s] ((1, 3), (2, 4))
2022-01-29 14:29:30,005 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
create_table = """
CREATE TABLE delicious_stocks (
    "EAT" BIGINT,
    "CAKE" BIGINT
)
"""

In [6]:
engine.execute(create_table)

2022-01-29 14:30:11,323 INFO sqlalchemy.engine.Engine
CREATE TABLE delicious_stocks (
    "EAT" BIGINT,
    "CAKE" BIGINT
)

2022-01-29 14:30:11,324 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-29 14:30:11,325 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
insert_data = """
INSERT INTO delicious_stocks ("EAT", "CAKE") VALUES (?, ?)
"""

In [8]:
engine.execute(insert_data, ((10, 30), (20, 40)))

2022-01-29 14:30:39,914 INFO sqlalchemy.engine.Engine
INSERT INTO delicious_stocks ("EAT", "CAKE") VALUES (?, ?)

2022-01-29 14:30:39,915 INFO sqlalchemy.engine.Engine [raw sql] ((10, 30), (20, 40))
2022-01-29 14:30:39,918 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
read_all_data = """
SELECT "EAT", "CAKE" FROM delicious_stocks
"""
engine.execute(read_all_data)

2022-01-29 14:30:50,607 INFO sqlalchemy.engine.Engine
SELECT "EAT", "CAKE" FROM delicious_stocks

2022-01-29 14:30:50,608 INFO sqlalchemy.engine.Engine [raw sql] ()

In [10]:
results = engine.execute(read_all_data)
for row in results:
    print(row)

2022-01-29 14:31:42,385 INFO sqlalchemy.engine.Engine
SELECT "EAT", "CAKE" FROM delicious_stocks

2022-01-29 14:31:42,386 INFO sqlalchemy.engine.Engine [raw sql] ()
(10, 30)
(20, 40)

In [11]:
results = engine.execute(read_all_data)
list(results)

2022-01-29 14:32:23,022 INFO sqlalchemy.engine.Engine
SELECT "EAT", "CAKE" FROM delicious_stocks

2022-01-29 14:32:23,022 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30), (20, 40)]

In [12]:
read_all_data = """
SELECT * FROM delicious_stocks
"""
results = engine.execute(read_all_data)
list(results)

2022-01-29 14:33:06,523 INFO sqlalchemy.engine.Engine
SELECT * FROM delicious_stocks

2022-01-29 14:33:06,524 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30), (20, 40)]