In [1]:
import pandas as pd
from pathlib import Path

In [2]:
csvfile = Path("sales_no_header.csv")

In [9]:
read_file = pd.read_csv(csvfile, header=None)
columns_headers = ["Full name","Email","Zip code", "Sale price"]

read_file.columns = columns_headers

In [10]:
read_file.head()

         Full name                   Email  Zip code  Sale price
0    Elwanda White      alyre2036@live.com      9236       84.33
1   Lyndon Elliott  arrowy1873@outlook.com      1330      879.95
2   Daisey Sellers  toucan2024@outlook.com      7631      907.58
3     Issac Reeves    asarin1958@gmail.com     81168      545.88
4  Bradford Kinney  mibound1801@yandex.com     41721      517.49

In [13]:
read_file = read_file.rename(columns={"Zip code": "Zip"})
read_file.head()

         Full name                   Email    Zip  Sale price
0    Elwanda White      alyre2036@live.com   9236       84.33
1   Lyndon Elliott  arrowy1873@outlook.com   1330      879.95
2   Daisey Sellers  toucan2024@outlook.com   7631      907.58
3     Issac Reeves    asarin1958@gmail.com  81168      545.88
4  Bradford Kinney  mibound1801@yandex.com  41721      517.49